* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    --time:7s;
}

.scene{
    width:100vw;
    height:100vh;
    position: relative;
    display: flex;
    flex-direction:column;

}



.sky{
    display: inline-block; 
    background-color: #bd4f6c;
    background-image: radial-gradient(circle at right,#bd4f6c, #f49f88);
    background-size:400%, 400%;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow:hidden;
    animation: sky var(--time) ease infinite; 
    
}



.sky-reflection {
    width: 100%;
    height: 50vh;
    background-color: #bd4f6c;
    background-image: radial-gradient(circle at top, #f49f88 0%, #a4508b 60%, #1c0e20 100%);
    background-size: 400%, 400%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    animation: sky var(--time) ease infinite;
    transform: scaleY(-1);
    opacity: 0.5;
    filter: blur(1px);
    /*mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));*/
    pointer-events: none;
    z-index: 2;
}
.sky .text {
    position: absolute;
    left: 50%;
    bottom: 1px; /* adjust as needed */
    transform: translateX(-50%);
    width: auto;
    text-align: center;
    
}
.sky {
    position: relative;
}

.ocean{
    position:sticky;
    width: 100vw;
    height: 50%;
    background-color: #a4508b;
    background-image: radial-gradient(circle at top, #f49f88 0%, #a4508b 60%, #1c0e20 100%);
    position: relative;
    z-index: 1;
    margin-top: -400px; 

}
.scroll-wrapper {
  height: 200vh; /* controls scroll duration */
}
.text{
    font-size: 3em;
    font-weight:bolder;
    color: white;
    z-index: 300;
}
.sun{
    position: absolute;
    left: 42%;
    bottom: 20%;
    width:15vw;
    height:15vw;
    border-radius:50%;
    background-color:#a40606;
    background-image:linear-gradient(315deg, #a40606 0%, #d98324 74%);
    transform:translateY(20%);
    z-index: 2;
    animation:set var(--time) ease infinite;
    box-shadow: 0 0 210px 100px rgba(253, 90, 54, 0.6), 0 0 210px 200px rgba(251, 167,98,0.781);
}
.scene {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.sky {
  height: 54%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.star{
    width:0.3em;
    height:0.3em;
    background-color:white;
    border-radius:50%;
    animation:stars var(--time) infinite;
    position:absolute;
    z-index:1;
}

.contact-info {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color:white; 
  font-family: Arial, sans-serif;
  font-size: medium;
  
z-index: 1000;
}

.projects{
    position: fixed;
    top: 10px;
    right: 10px;
    color:white; 
    font-family: Arial, sans-serif;
    font-size: medium;
    
    z-index:1000;
}

.link{
    text-decoration: none;
    color:white;
}



@keyframes set{
    0%,100%
    {
        transform:translate(0,100%);
    }
    40%{
        transform:translate(0,-50%)
    }
    60%{
        transform:translate(0,-50%)
    }
}
@keyframes sky{
    0%{
        background-position:100%,100%;
    }
    100%{
        background-position:100%,400%;
    }
}
@keyframes stars{
    0%{
        opacity:100$;
        transform:translate(0,0);
    }
    100%{
        opacity:0%;
        transform:translate(-400px,-300px);
    }
}





